version: '3'

services:

    nginx:
        image: nginx
        ports:
            - "8080:80"
        volumes:
            - ".:/home/docker"
            - "./docker/nginx.conf:/etc/nginx/conf.d/default.conf:ro"
        networks:
            - demo_meetup

    php:
        image: php:7.1-fpm
        volumes:
            - "./docker:/home/docker"
            - "./docker/php.ini:/usr/local/etc/php/conf.d/custom.ini:ro"
        working_dir: "/home/docker"
        networks:
            - demo_meetup

networks:
    demo_meetup:
        driver: bridge
